@page "/about"

<div class="row">
    <div class="col">
            <p>
                DigitalNetWeb is a page that collects information on Objects and Digimon from KDMO (Korean Digimon Masters Online) and is the Web version of DigitalNet (previously called Encyclopedia for KDMO), an application for Windows.
            </p>
            <p>
                Sources used by this page:
            </p>
            <p>
                KDMO page: www.digimonmasters.com
            </p>
            <p>
                Wikimon: www.wikimon.net
            </p>
            <p>
                DMOWiki: www.dmowiki.com
            </p>
            <p>
                This website is not the owner of any element used here, the rights to whom correspond.
            </p>
            <p>
                © Akiyoshi Hongo, Toei Animation © MoveGames Co. © Bandai Namco
            </p>
            <br>
            <p>
                This site was developed by © RizeFury#8897
            </p>
    </div>
</div>
