@page "/download"

<head>

</head>

<body>
    <div class="d-grid gap-3 mx-auto">
        <div class="title text-center">DigitalNet Desktop Version</div>
        <img src="https://i.imgur.com/Da26KeL.png" class="img-fluid mx-auto d-block">
        <a href="" 
        role="button" class="btn btn-primary mx-auto" >Download Installer Version 2.0.1.9</a>
    </div>
    
</body>