@page "/fetchdata"

<PageTitle>Digimon List</PageTitle>

@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<h1>Digimon List</h1>

<p></p>

@if (digimonlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Korean Name</th>
                <th>Stage</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var digimon in digimonlist)
            {
                <tr>
                    <td>@digimon.EngName</td>
                    <td>@digimon.KorName</td>
                    <td>@digimon.Stage</td>
                    <td>@digimon.Rank</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Digimon[]? digimonlist;

    protected override async Task OnInitializedAsync()
    {
        digimonlist = await new DigimonService().GetDigimonDBAsync();
    }
}