@page "/fetchdata"

@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<h1>Digimon List</h1>

<p></p>

@if (digimonlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="item-wrapper">
            @foreach (var digimon in digimonlist)
            {
                <SearchCard ob=@digimon name=@digimon.EngName icon=@digimon.IconLink />
            }
        </div>
    </div>
}

@code {
    private Digimon[]? digimonlist;

    protected override async Task OnInitializedAsync()
    {
        digimonlist = await new DigimonService().GetDigimonDBAsync();
    }
}