@page "/fetchdata"

<PageTitle>Digimon List</PageTitle>

@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<h1>Digimon List</h1>

<p></p>

@if (digimonlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var digimon in digimonlist)
    {
        <SearchCard name=@digimon.EngName/>
    }
}

@code {
    private Digimon[]? digimonlist;

    protected override async Task OnInitializedAsync()
    {
        digimonlist = await new DigimonService().GetDigimonDBAsync();
    }
}