@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

@if (Digimonlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    <div class="item-wrapper">
        @for (int i = @StartLoop; i < @EndLoop; i++)
            {
                Digimon digimon = Digimonlist[i];
                <SearchCard ob=@digimon name=@digimon.EngName icon=@digimon.IconLink />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public Digimon[]? Digimonlist { get; set; }
    [Parameter]
    public int StartLoop { get; set; }
    [Parameter]
    public int EndLoop { get; set; }
}