.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-flush{
  margin: 0px;
  padding: 0px;
}

.btn {
  margin-left: 2px;
  margin-right: 2px;
}

#pages{
  margin-top: 20px;
}

.d-flex{
  margin-top: -10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ::deep .form-outline {
        width: 80%;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ::deep .form-outline {
        width: 70%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ::deep .form-outline {
        width: 60%;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ::deep .form-outline {
        width: 40%;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ::deep .form-outline {
        width: 40%;
      }
}
