body{
    background-color: transparent;
  }

.img-thumbnail{
    width: 42px;
    height: 42px;
    margin-top: 4px;
    display: inline-block;
    background-color: transparent;
    border-color: #4472c4;
}

.list-group-item{
    cursor: pointer;
    background-color: transparent;
    color: #d7d7d7;
    border-bottom-color: #4472c4;
}

.txtFont{
    font-size: 12px;
    margin-top: 6px;
}