@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<body>
  <li class="list-group-item d-flex justify-content-between align-items-start" data-toggle="modal"
    data-target=@targetModalID>
    <img src=@DBO.IconLink class="img-thumbnail" alt=@DBO.EngName>
    <div class="ms-2 me-auto txtFont">
      <div class="fw-bold">@DBO.EngName</div>
      @DBO.KorName
    </div>
  </li>

  <!-- Modal -->
  <div class="modal fade" id=@modalID tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <ModalContent ob=@DBO />
    </div>
  </div>
</body>


@code {
  private string modalID { get; set; } = "";
  private string targetModalID { get; set; } = "";
  [Parameter]
  public DBObject? DBO { get; set; }

  protected override void OnInitialized()
  {
    modalID = DBO.ToTypeID();
    targetModalID = "#" + modalID;
  }
  private void SetModal()
  {
    modalID = DBO.ToTypeID();
    targetModalID = "#" + modalID;
  }

  private void ChargeModal()
  {
  }
}