@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<li class="list-group-item d-flex justify-content-between align-items-start">
  <img src=@DBO.IconLink class="img-thumbnail" data-toggle="modal" data-target=@targetModalID>
  <div class="ms-2 me-auto">
    <div class="fw-bold">@DBO.EngName</div>
    @DBO.KorName
  </div>
</li>

<!-- Modal -->
<div class="modal fade" id=@modalID tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <ModalContent ob=@DBO />
  </div>
</div>

@code {
  private string modalID { get; set; } = "";
  private string targetModalID { get; set; } = "";
  [Parameter]
  public DBObject? DBO { get; set; }

  protected override void OnInitialized()
  {
        if (DBO is Digimon)
    {
      modalID = "Digimon" + DBO.Code.ToString();
    }
    if (DBO is Item)
    {
      modalID = "Item" + DBO.Code.ToString();
    }
    if (DBO is Tamer)
    {
      modalID = "Tamer" + DBO.Code.ToString();
    }
    targetModalID = "#" + modalID;
  }
  private void SetModal()
  {
    if (DBO is Digimon)
    {
      modalID = "Digimon" + DBO.Code.ToString();
    }
    if (DBO is Item)
    {
      modalID = "Item" + DBO.Code.ToString();
    }
    if (DBO is Tamer)
    {
      modalID = "Tamer" + DBO.Code.ToString();
    }
    targetModalID = "#" + modalID;
  }

  private void ChargeModal()
  {
  }
}