@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<div id="image">
  <img src=@icon class="img-thumbnail" title=@name data-toggle="modal" data-target=@targetModalID
    @onmouseover="SetModal" @onmousedown="ChargeModal">
</div>

<!-- Modal -->
<div class="modal fade" id=@modalID tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    @if (ob is Digimon)
    {
      <DigimonModalContent ob=(Digimon)ob/>
    }
  </div>
</div>

@code {
  private string modalID { get; set; } = "";
  private string targetModalID { get; set; } = "";

  [Parameter]
  public string name { get; set; } = "";
  [Parameter]
  public string icon { get; set; } = "https://i.imgur.com/dEBKEO7.png";
  public int id { get; set; }
  [Parameter]
  public DBObject? ob { get; set; }

  private string ModelLink { get; set; } = "";
  private void SetModal()
  {
    modalID = "D" + ob.Code.ToString();
    targetModalID = "#" + modalID;
  }

  private void ChargeModal()
  {

  }
}